Sync {
  Mode FTFW {
    DisableExternalCache Off
    CommitTimeout 1800
    PurgeTimeout 5
  }

  UDP {
    IPv4_address {{ nic['ha']['ip'] }}
    IPv4_Destination_Address {{ hostvars[nic['ha']['peer']]['nic']['ha']['ip'] }}
    Port 3780
    Interface eth7
    SndSocketBuffer 1249280
    RcvSocketBuffer 1249280
    Checksum on
  }
}

General {
  Nice -20
  HashSize 32768
  HashLimit 131072
  LogFile on
  Syslog on
  LockFile /var/lock/conntrack.lock
  UNIX {
    Path /var/run/conntrackd.ctl
    Backlog 20
  }
  NetlinkBufferSize 2097152
  NetlinkBufferSizeMaxGrowth 8388608
  Filter From Userspace {
    Protocol Accept {
      TCP
      UDP
      ICMP # This requires a Linux kernel >= 2.6.31
    }
    Address Ignore {
      IPv4_address 127.0.0.1 # loopback
      IPv4_address {{ nic['ext']['vip'] }}
      IPv4_address {{ nic['dmz']['vip'] }}
      IPv4_address {{ nic['nix']['vip'] }}
      IPv4_address {{ nic['win']['vip'] }}
      IPv4_address {{ nic['ext']['ip'] }}
      IPv4_address {{ nic['dmz']['ip'] }}
      IPv4_address {{ nic['nix']['ip'] }}
      IPv4_address {{ nic['win']['ip'] }}
      IPv4_address {{ nic['ha']['ip'] }}
      IPv4_address {{ hostvars[nic['ha']['peer']]['nic']['ext']['ip'] }}
      IPv4_address {{ hostvars[nic['ha']['peer']]['nic']['dmz']['ip'] }}
      IPv4_address {{ hostvars[nic['ha']['peer']]['nic']['nix']['ip'] }}
      IPv4_address {{ hostvars[nic['ha']['peer']]['nic']['win']['ip'] }}
      IPv4_address {{ hostvars[nic['ha']['peer']]['nic']['ha']['ip'] }}
    }
  }
}