vrrp_sync_group all {
  group {
    ext
    dmz
    nix
    win
  }
  notify_master "/etc/conntrackd/primary-backup.sh primary"
  notify_backup "/etc/conntrackd/primary-backup.sh backup"
  notify_fault "/etc/conntrackd/primary-backup.sh fault"
}

vrrp_instance ext {
    interface {{ nic['ext']['int'] }}
    state BACKUP
    virtual_router_id 61
    priority {{ nic['ha']['priority'] }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass extvrrp
    }
    virtual_ipaddress {
        {{ nic['ext']['vip'] }}/{{ nic['ext']['cidr'] }} dev {{ nic['ext']['int'] }}
    }
    nopreempt
    garp_master_delay 1
}

vrrp_instance dmz {
    interface {{ nic['dmz']['int'] }}
    state BACKUP
    virtual_router_id 62
    priority {{ nic['ha']['priority'] }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass dmzvrrp
    }
    virtual_ipaddress {
        {{ nic['dmz']['vip'] }}/{{ nic['dmz']['cidr'] }} dev {{ nic['dmz']['int'] }}
    }
    nopreempt
    garp_master_delay 1
}

vrrp_instance nix {
    interface {{ nic['nix']['int'] }}
    state BACKUP
    virtual_router_id 63
    priority {{ nic['ha']['priority'] }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass nixvrrp
    }
    virtual_ipaddress {
        {{ nic['nix']['vip'] }}/{{ nic['nix']['cidr'] }} dev {{ nic['nix']['int'] }}
    }
    nopreempt
    garp_master_delay 1
}

vrrp_instance win {
    interface {{ nic['win']['int'] }}
    state BACKUP
    virtual_router_id 64
    priority {{ nic['ha']['priority'] }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass winvrrp
    }
    virtual_ipaddress {
        {{ nic['win']['vip'] }}/{{ nic['win']['cidr'] }} dev {{ nic['win']['int'] }}
    }
    nopreempt
    garp_master_delay 1
}
