ddns-update-style interim;
update-static-leases on;

default-lease-time 600;
max-lease-time 7200;

{% for seg, settings in dhcp.items() %}

subnet {{ settings.network }} netmask {{ settings.mask }} {
  range {{ settings.start }} {{ settings.end }};
  option routers {{ settings.gateway }};
  option subnet-mask {{ settings.mask }};
  option broadcast-address {{ settings.broadcast }};
  option domain-name-servers {{ hostvars.dmz1.nic[seg].ip }}, {{ hostvars.dmz2.nic[seg].ip }};
  option domain-name "{{ domain }}";
  ddns-domainname "{{ domain }}";

  {%- for host in groups.all %}
  {%- if 'nic' in hostvars[host] %}
  {%- if seg in hostvars[host].nic %}
  {%- if 'dhcp' in hostvars[host].nic.dmz %}
  {%- if hostvars[host].nic[seg].dhcp == 'static' %}
  {%- set mac = hostvars[host].nic[seg].mac %}

  host {{host}} {
    option host-name "{{ host }}";
    ddns-hostname "{{ host }}";
    hardware ethernet {{ mac[0:2]+':'+mac[2:4]+':'+mac[4:6]+':'+mac[6:8]+':'+mac[8:10]+':'+mac[10:12] }};
    fixed-address {{ hostvars[host].nic[seg].ip }};
  }

  {%- endif %}
  {%- endif %}
  {%- endif %}
  {%- endif %}
  {%- endfor %}

}

{% endfor %}

key dhcpupdate {
  algorithm hmac-md5;
  secret KfsIpQhAGVnh8GBMTtwyOA==;
}

zone zamanski.me {
  primary ns1.zamanski.me;
  key dhcpupdate;
}

zone 0.0.10.in-addr.arpa {
  primary ns1.zamanski.me;
  key dhcpupdate;
}
