$TTL 86400
$ORIGIN zamanski.me.
@ IN SOA ns1.zamanski.me. root.zamanski.me. (
	2015042401  ;Serial
	3600        ;Refresh
	1800        ;Retry
	604800      ;Expire
	86400       ;Minimum TTL
)

; Name Servers
@ IN NS dmz1.zamanski.me.
@ IN NS dmz2.zamanski.me.

; Domain Root
@ IN A 10.0.0.1

; Firewalls
fw IN A {{ hostvars.fw1.nic.dmz.vip }}
fw1 IN A {{ hostvars.fw1.nic.dmz.ip }}
fw2 IN A {{ hostvars.fw2.nic.dmz.ip }}

; DMZ Servers
dmz1 IN A {{ hostvars.dmz1.nic.dmz.ip }}
dmz2 IN A {{ hostvars.dmz2.nic.dmz.ip }}

; Name Servers
ns1 IN CNAME dmz1
ns2 IN CNAME dmz2

; NTP Servers
ntp1 IN CNAME dmz1
ntp2 IN CNAME dmz1

; Management Host
mgmt1 IN A {{ hostvars.mgmt1.nic.dmz.ip }}

;AD Subdomain
$ORIGIN ad.zamanski.me.
@ IN  NS  addc1.ad.zamanski.me.
@ IN  NS  addc2.ad.zamanski.me.
addc1 IN  A 10.0.0.31
addc2 IN  A 10.0.0.41
